<script setup lang="ts">
    import { useMapStore } from "@/stores/map";
    import MapPoint from "./MapPoint.vue";

    const store = useMapStore();
    const data = store.state;
</script>

<template>
    <div class="main">
        <div v-for="point in data">
            <MapPoint :point="point" />
        </div>
    </div>
</template>

<style scoped>
    .main {
        background-color: var(--color-grey-000);
        flex-grow: 1;
        position: relative;
    }
</style>
