<script setup lang="ts">
    import type { MapPoint } from "@/models/MapPoint";
    import { ref } from "vue";
    interface Props extends Omit<MapPoint, ""> {}

    defineProps<{
        point: Props;
    }>();

    // interface CustomTarget extends EventTarget {
    //     id: string;
    // }

    // interface CustomEvent extends MouseEvent {
    //     target: CustomTarget;
    // }

    const focusPoint = (event: any) => {
        const pointElement = document.getElementById(event.target.id);
        console.log(pointElement);
        // if (pointElement != null) {
        //     pointElement.focus({ focusVisible: true });
        // }
    };
</script>

<template>
    <div
        class="point"
        :tabindex="point.id"
        @click="focusPoint"
        :id="point.faction + '-' + point.id"
    ></div>
</template>

<style scoped>
    .point {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 5px solid black;

        left: calc(v-bind("point.x") * 1px);
        top: calc(v-bind("point.y") * 1px);
        background-color: v-bind("point.color");
    }

    .point:focus-visible {
        outline: 2px solid rgb(192, 192, 192);
        border: 5px solid black;
    }

    .point:focus {
        outline: 2px solid rgb(192, 192, 192);
        border: 5px solid black;
    }

    .point:hover {
        cursor: pointer;
    }
</style>
