<script setup lang="ts">
    import DiplomacyIcon from "./icons/DiplomacyIcon.vue";
    import TradeIcon from "./icons/TradeIcon.vue";
    import InfrastrustureIcon from "./icons/InfrastructureIcon.vue";
</script>

<template>
    <div class="main">
        <DiplomacyIcon />
        <TradeIcon />
        <InfrastrustureIcon />
    </div>
</template>

<style scoped>
    .main {
        background-color: var(--color-grey-050);
        min-width: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
</style>
