*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --color-grey-base: 0 0%;
    --color-blue-base: 220 50%;

    --color-grey-075: hsl(var(--color-grey-base) 75%);
    --color-grey-050: hsl(var(--color-grey-base) 50%);
    --color-grey-025: hsl(var(--color-grey-base) 25%);
    --color-grey-000: hsl(var(--color-grey-base) 0%);

    --color-blue-085: hsl(var(--color-blue-base) 85%);
    --color-blue-075: hsl(var(--color-blue-base) 75%);
    --color-blue-050: hsl(var(--color-blue-base) 50%);

    /* background-color: var(--color-grey-000); */
    color: azure;
    width: 100%;
    height: 100%;
    line-height: 1.5;
}
