<script setup lang="ts">
    import TopPanel from "./components/TopPanel.vue";
    import SideBar from "./components/SideBar.vue";
    import SidePanel from "./components/SidePanel.vue";
    import GameMap from "./components/GameMap.vue";
</script>

<template>
    <TopPanel />
    <div class="main-content">
        <SideBar />
        <SidePanel />
        <GameMap />
    </div>
</template>

<style scoped>
    .main-content {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap;
        flex-direction: row;
        height: calc(100vh - 1.8rem);
    }
</style>
