{% extends "base.html" %}

{% block title %} diplomacy {% endblock %}

{% block side_screen %}
<li><a class="is-active">diplomacy</a></li>

<div> vybraný systém: </div>


{% endblock %}

{% block breadcrumbs %}
<li><a href="../">diplomacy</a></li>
{% endblock %}