{% extends "base.html" %}

{% block title %} infrastructure {% endblock %}

{% block side_screen %}
<!--com> side panel for menu </com-->
<!--li><a class="is-active">Dashboard</a></li-->
{% endblock %}
<section>Improve block:
    <h2>checking on: H23</h2>
    <p>Current updates:
    None
    </p>
        <label for="target">upgrade</label>
        <input type="text" class="form-control" id="target" name="target" placeholder="type of upgrade">

        <label>Upgrade price 344DP / 234IP </label>
        <input type="number" id="IP" class="form-control" placeholder="invest IP">
        <input type="number" id="DP" class="form-control" placeholder="invest DP">

        <!-- make it a drop down menu, showing +- in side -->

</section>
{% block breadcrumbs %}
<!--li><a href="../">Bulma</a></li-->
{% endblock %}