{% extends "base.html" %}

{% block title %} trade {% endblock %}

{% block side_screen %}
<!--com> side panel for menu </com-->
<!--li><a class="is-active">Dashboard</a></li-->
{% endblock %}
<section>Current trade deals:
    <br>
<p> Placeholderia - turnips - 4
                 - extra signs - 41
                 - datatarifs - 42345
</p>

<p>spacedom of comically large name of lorem ipsum  - extra letters - 2432</p>

<section>New trade deal:
        <label for="target">to who</label>
        <input type="text" class="form-control" id="target" name="target" placeholder="enter/click on target faction">

        <label for="product">product</label>
        <input type="text" class="form-control" id="product" name="target" placeholder="product">
        <input type="number" class="form-control">
        <!-- make it a drop down menu, showing +- in side -->

</section>
{% block breadcrumbs %}
<!--li><a href="../">Bulma</a></li-->
{% endblock %}