<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>

<!-- START NAV -->
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="">
                S T A R L O R D -
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="">
                    overview
                </a>
                <a class="navbar-item" href={{url_for('map.trade_screen')}}>
                    trade
                </a>
                <a class="navbar-item" href={{url_for('map.diplomacy_screen')}}>
                    diplomacy
                </a>
                <a class="navbar-item" href={{url_for('map.infrastructure_screen')}}>
                    development
                </a>
                <a class="navbar-item" href={{url_for('map.profile_screen')}}>
                    profile
                </a>
                <span class="navbar-item">📯 : 55/110  </span>
                <span class="navbar-item">🏟 : 47/120  </span>
                <span class="navbar-item">⏰ : 01:54:11  </span>
                <a class="navbar-item" href={{url_for('map.profile_screen')}}>
                    logout
                </a>
            </div>


        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == "error" %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">close</button>
          {%endif%}
          {% if category == "success" %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">close</button>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
</nav>
<!-- END NAV -->
<div class="container">
    <div class="columns">
        <div class="column is-3 ">
            <aside class="menu is-hidden-mobile">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <!--com> side panel for menu </com-->
                    <!--li><a class="is-active">Dashboard</a></li-->
                    {% block side_screen %}
                    {% endblock %}
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    {% block breadcrumbs %}
                    <!--li><a href="../">Bulma</a></li-->
                    {% endblock %}
                </ul>
            </nav>
            <section class="column" id="main-map" style="max-height:100%;overflow:auto;position: relative; border:1px solid red;">
                <h1 style="position: absolute;top: 80px;right: 50px;">>Text</h1>
                <h1 style="position: absolute;top: 1000px;right: 60px;">>Text2</h1>
                <h1 style="position: absolute;top: 20px;right: 100px;">>Text3</h1>
                <h1 style="position: absolute;top: 500px;right: 255px;">>Text4</h1>
                <h1 style="position: absolute;top: 4000px;right: 255px;">>Text4</h1>
            </section>
            <!--
            <canvas id="main_map" width="4000" height="4000"></canvas>
            <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
            -->
        </div>
    </div>
</div>
</body>
</html>
