{% extends "base.html" %}
{% block title %} login {% endblock %}
{% block side_screen %}
<form method="post">
    <h3 align="center"> LOGIN </h3>
    <div class="form-group">
        <label for="email">Email Adress</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="enter email">

        <label for="password">password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="enter password">

        <br>
        <button type="submit" class="btn btn-primary">login</button>
    </div>
</form>
{% endblock %}