{% extends "base.html" %}
{% block title %} sign up {% endblock %}
{% block side_screen %}
<form method="post">
    <h3 align="center"> Sign up</h3>
    <div class="form-group">
        <label for="email">Email Adress</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="enter email">

        <label for="nickname">Nickname</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="enter nickname">

        <label for="password">password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="enter password">

        <label for="password_again">password again</label>
        <input type="password" class="form-control" id="password_again" name="password_again" placeholder="confirm password">
        <br>
        <button type="submit" class="btn btn-primary">submit</button>
    </div>
</form>
{% endblock %}